@import '1atom/a-mixins';

.blog-post {
  &__title {
    text-decoration: black;
    margin-bottom: 20px;
  }

  &__image {
    @include aspect-ratio-container(16, 9, cover, top) {
      img {
        width: 100vw;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
      }
    };
    margin-bottom: 24px;

  }

  &__description {
    margin-bottom: 24px;
  }
}

