// scoped styles on tictactoe aren't working
$grid-columns: 3;
$grid-rows: 3;
$border-tictactoe: 5px solid black;
/*#\31 -2*/
@for $i from 1 through $grid-columns {
  @for $j from 1 through $grid-rows {
    #\3#{$i}-#{$j} {
      @if $i == 1 or $i == 2 {
        border-bottom: $border-tictactoe;
      }
      @if $j == 1 or $j == 2 {
        border-right: $border-tictactoe;
      }
    }
  }
}

@import "0base/colors";
@import "1atom/a-mixins";
@import "variables";
// actual angular bug where the scoped css isnt apllied to innerHTML dom changes
// https://stackoverflow.com/questions/36265026/angular-2-innerhtml-styling

  .postDynamic {


    h2 {
      line-height: 38px;
    }

    ul,
    ol {
      @extend .m-list !optional;
        padding-left: 50px;
        margin: 10px 0;
      > li {
        @extend .m-list__item !optional;
        margin-bottom: 6px;
      }
    }

    pre {
      @extend .m-codeblock !optional;
    }

    a {
      @extend .a-link !optional;
      color: $color-main-sec-dark;

      &:hover {
        color: $color-main-sec;
      }

      &:before {
        background-color: $color-main-sec;
      }
    }

    :not(pre) > code {
      background-color: #e5eff5;
      padding: 1px 3px;
      border-radius: 5px;
      font-size: 0.8rem;
    }

    figure {
      margin: 1.5em 0 3em;
    }

    p {
      margin-bottom: 10px;
    }
  }
