// TODOANDI: research if possible without these imports in angular component
@import "../../../styles/variables";
@import "../../../styles/0base/colors";
@import "0base/mixins";

// fixme evaluate refactor into atomic design
.modal {
  $this: &;

  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);

  &__container {
    min-width: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: $simple-box-shadow;
    background-color: $white;

    > div {
      width: 100%;
    }
  }

  &__close-container {
    background: white;
    padding: 10px;
    top: 0;
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  &__header {
    height: 50px;
    width: 100%;
    color: white;

    &.-alert {
      background-color: $color-main-complement;
    }

    &.-info {
      background-color: $color-main-sec-2;
    }

    .icon-close {
      position: absolute;
      top: 0;
      right: 0;
      padding-right: 6px;
      padding-top: 3px;

      &::before {
        font-size: 20px;
      }
    }

    .icon-alert, .icon-info {
      padding-left: 10px;

      &::before {
        font-size: 40px;
      }
    }
  }

  &__content {
    min-height: 200px;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;

    p {
      flex-grow: 1;
    }

  }

  .icon-alert {
    @include icon("\f071");
  }

  .icon-info {
    @include icon("\f05a");
  }

  .icon-close {
    cursor: pointer;

    @include icon("\f410") {
    }
  }
}

.optionbox {
  position: fixed;
  bottom: 0;
  border: 1px solid black;
  padding: 10px;
}
