<div class="modal" *ngIf="activeModal != null">

  <div class="modal__container">
    <div class="modal__header -{{activeModal.header.type}}" >
      <span class="icon-{{activeModal.header.icon}}"></span>
      <span class="icon-close" (click)="closeModal()"></span>
    </div>

    <div class="modal__content">
      <p>{{activeModal.text}}</p>
      <div class="button-wrapper">
        <button class="a-button a-button--big {{button.className}}" *ngFor="let button of activeModal.buttons"
          (click)="onClick($event, button)">
          {{button.text}}
        </button>
      </div>
    </div>
  </div>
</div>
