@import "1atom/a-mixins";

:host {
  display: block;
}

.home {
  span {
    user-select: none;
  }

  .arrow {
    position: absolute;
    top: 50%;

    &.right {
      right: 0;
    }

    &.left {
      left: 0;
    }
  }
}
