<section class="home">
  <div>Hello from about!</div>

  <div
    (click)="toggle()"
    [@openClose]="isOpen ? 'open' : 'closed'"
    class="open-close-container"
  >
    <p>The box is now {{ isOpen ? "Open" : "Closed" }}!</p>
  </div>

  <div id="imgContainer">
   <ng-container  *ngFor="let item of slides; index as i">
    {{counter}} {{i}}
    <li *ngIf="counter === i" [attr.data-index]="i" 
       [@slideInOut]="counter === i ? 'open' : 'closed'" class="motiv motiv0{{i}}">
        <h1>ONE</h1>
      </li>
   </ng-container>
  </div>
</section>
