<section class="aboutDetail">
  <div class="aboutDetail__intro">
    {{ details.title }}
    <div class="aboutDetail__image">
      <img
        class="aboutDetail__image"
        [src]="details.logo.url"
        alt=""
      />
    </div>
    <div class="aboutDetail__desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a consequat
      elit. Donec quis sollicitudin nisi. Nam eu elementum ligula, vitae porta
      leo. Quisque egestas urna quis est pellentesque, quis egestas ex lobortis.
      In hac habitasse platea dictumst. Sed odio massa, cursus eget ex eu,
      dictum gravida elit. Cras accumsan sodales augue id convallis. Nullam id
      porta erat. Duis eget varius quam, non venenatis sem.
    </div>
  </div>
  <div class="aboutDetail__content">
    <div class="aboutDetail__image">
      <img
        src="../../../../../assets/images/51oK5FNnrBL._AC_SL1005_.jpg"
        alt=""
      />
    </div>
    <div class="">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a consequat
      elit. Donec quis sollicitudin nisi. Nam eu elementum ligula, vitae porta
      leo. Quisque egestas urna quis est pellentesque, quis egestas ex lobortis.
      In hac habitasse platea dictumst. Sed odio massa, cursus eget ex eu,
      dictum gravida elit. Cras accumsan sodales augue id convallis. Nullam id
      porta erat. Duis eget varius quam, non venenatis sem.Lorem ipsum dolor sit
      amet, consectetur adipiscing elit. Nulla a consequat elit. Donec quis
      sollicitudin nisi. Nam eu elementum ligula, vitae porta leo. Quisque
      egestas urna quis est pellentesque, quis egestas ex lobortis. In hac
      habitasse platea dictumst. Sed odio massa, cursus eget ex eu, dictum
      gravida elit. Cras accumsan sodales augue id convallis. Nullam id porta
      erat. Duis eget varius quam, non venenatis sem.Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Nulla a consequat elit. Donec quis
      sollicitudin nisi. Nam eu elementum ligula, vitae porta leo. Quisque
      egestas urna quis est pellentesque, quis egestas ex lobortis. In hac
      habitasse platea dictumst. Sed odio massa, cursus eget ex eu, dictum
      gravida elit. Cras accumsan sodales augue id convallis. Nullam id porta
      erat. Duis eget varius quam, non venenatis sem.Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Nulla a consequat elit. Donec quis
      sollicitudin nisi. Nam eu elementum ligula, vitae porta leo. Quisque
      egestas urna quis est pellentesque, quis egestas ex lobortis. In hac
      habitasse platea dictumst. Sed odio massa, cursus eget ex eu, dictum
      gravida elit. Cras accumsan sodales augue id convallis. Nullam id porta
      erat. Duis eget varius quam, non venenatis sem.Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Nulla a consequat elit. Donec quis
      sollicitudin nisi. Nam eu elementum ligula, vitae porta leo. Quisque
      egestas urna quis est pellentesque, quis egestas ex lobortis. In hac
      habitasse platea dictumst. Sed odio massa, cursus eget ex eu, dictum
      gravida elit. Cras accumsan sodales augue id convallis. Nullam id porta
      erat. Duis eget varius quam, non venenatis sem.Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Nulla a consequat elit. Donec quis
      sollicitudin nisi. Nam eu elementum ligula, vitae porta leo. Quisque
      egestas urna quis est pellentesque, quis egestas ex lobortis. In hac
      habitasse platea dictumst. Sed odio massa, cursus eget ex eu, dictum
      gravida elit. Cras accumsan sodales augue id convallis. Nullam id porta
      erat. Duis eget varius quam, non venenatis sem.Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Nulla a consequat elit. Donec quis
      sollicitudin nisi. Nam eu elementum ligula, vitae porta leo. Quisque
      egestas urna quis est pellentesque, quis egestas ex lobortis. In hac
      habitasse platea dictumst. Sed odio massa, cursus eget ex eu, dictum
      gravida elit. Cras accumsan sodales augue id convallis. Nullam id porta
      erat. Duis eget varius quam, non venenatis sem.Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Nulla a consequat elit. Donec quis
      sollicitudin nisi. Nam eu elementum ligula, vitae porta leo. Quisque
      egestas urna quis est pellentesque, quis egestas ex lobortis. In hac
      habitasse platea dictumst. Sed odio massa, cursus eget ex eu, dictum
      gravida elit. Cras accumsan sodales augue id convallis. Nullam id porta
      erat. Duis eget varius quam, non venenatis sem.Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Nulla a consequat elit. Donec quis
      sollicitudin nisi. Nam eu elementum ligula, vitae porta leo. Quisque
      egestas urna quis est pellentesque, quis egestas ex lobortis. In hac
      habitasse platea dictumst. Sed odio massa, cursus eget ex eu, dictum
      gravida elit. Cras accumsan sodales augue id convallis. Nullam id porta
      erat. Duis eget varius quam, non venenatis sem.Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Nulla a consequat elit. Donec quis
      sollicitudin nisi. Nam eu elementum ligula, vitae porta leo. Quisque
      egestas urna quis est pellentesque, quis egestas ex lobortis. In hac
      habitasse platea dictumst. Sed odio massa, cursus eget ex eu, dictum
      gravida elit. Cras accumsan sodales augue id convallis. Nullam id porta
      erat. Duis eget varius quam, non venenatis sem.Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Nulla a consequat elit. Donec quis
      sollicitudin nisi. Nam eu elementum ligula, vitae porta leo. Quisque
      egestas urna quis est pellentesque, quis egestas ex lobortis. In hac
      habitasse platea dictumst. Sed odio massa, cursus eget ex eu, dictum
      gravida elit. Cras accumsan sodales augue id convallis. Nullam id porta
      erat. Duis eget varius quam, non venenatis sem.Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Nulla a consequat elit. Donec quis
      sollicitudin nisi. Nam eu elementum ligula, vitae porta leo. Quisque
      egestas urna quis est pellentesque, quis egestas ex lobortis. In hac
      habitasse platea dictumst. Sed odio massa, cursus eget ex eu, dictum
      gravida elit. Cras accumsan sodales augue id convallis. Nullam id porta
      erat. Duis eget varius quam, non venenatis sem.Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Nulla a consequat elit. Donec quis
      sollicitudin nisi. Nam eu elementum ligula, vitae porta leo. Quisque
      egestas urna quis est pellentesque, quis egestas ex lobortis. In hac
      habitasse platea dictumst. Sed odio massa, cursus eget ex eu, dictum
      gravida elit. Cras accumsan sodales augue id convallis. Nullam id porta
      erat. Duis eget varius quam, non venenatis sem.Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Nulla a consequat elit. Donec quis
      sollicitudin nisi. Nam eu elementum ligula, vitae porta leo. Quisque
      egestas urna quis est pellentesque, quis egestas ex lobortis. In hac
      habitasse platea dictumst. Sed odio massa, cursus eget ex eu, dictum
      gravida elit. Cras accumsan sodales augue id convallis. Nullam id porta
      erat. Duis eget varius quam, non venenatis sem.Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Nulla a consequat elit. Donec quis
      sollicitudin nisi. Nam eu elementum ligula, vitae porta leo. Quisque
      egestas urna quis est pellentesque, quis egestas ex lobortis. In hac
      habitasse platea dictumst. Sed odio massa, cursus eget ex eu, dictum
      gravida elit. Cras accumsan sodales augue id convallis. Nullam id porta
      erat. Duis eget varius quam, non venenatis sem.Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Nulla a consequat elit. Donec quis
      sollicitudin nisi. Nam eu elementum ligula, vitae porta leo. Quisque
      egestas urna quis est pellentesque, quis egestas ex lobortis. In hac
      habitasse platea dictumst. Sed odio massa, cursus eget ex eu, dictum
      gravida elit. Cras accumsan sodales augue id convallis. Nullam id porta
      erat. Duis eget varius quam, non venenatis sem.Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Nulla a consequat elit. Donec quis
      sollicitudin nisi. Nam eu elementum ligula, vitae porta leo. Quisque
      egestas urna quis est pellentesque, quis egestas ex lobortis. In hac
      habitasse platea dictumst. Sed odio massa, cursus eget ex eu, dictum
      gravida elit. Cras accumsan sodales augue id convallis. Nullam id porta
      erat. Duis eget varius quam, non venenatis sem.Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Nulla a consequat elit. Donec quis
      sollicitudin nisi. Nam eu elementum ligula, vitae porta leo. Quisque
      egestas urna quis est pellentesque, quis egestas ex lobortis. In hac
      habitasse platea dictumst. Sed odio massa, cursus eget ex eu, dictum
      gravida elit. Cras accumsan sodales augue id convallis. Nullam id porta
      erat. Duis eget varius quam, non venenatis sem.Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Nulla a consequat elit. Donec quis
      sollicitudin nisi. Nam eu elementum ligula, vitae porta leo. Quisque
      egestas urna quis est pellentesque, quis egestas ex lobortis. In hac
      habitasse platea dictumst. Sed odio massa, cursus eget ex eu, dictum
      gravida elit. Cras accumsan sodales augue id convallis. Nullam id porta
      erat. Duis eget varius quam, non venenatis sem.Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Nulla a consequat elit. Donec quis
      sollicitudin nisi. Nam eu elementum ligula, vitae porta leo. Quisque
      egestas urna quis est pellentesque, quis egestas ex lobortis. In hac
      habitasse platea dictumst. Sed odio massa, cursus eget ex eu, dictum
      gravida elit. Cras accumsan sodales augue id convallis. Nullam id porta
      erat. Duis eget varius quam, non venenatis sem.Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Nulla a consequat elit. Donec quis
      sollicitudin nisi. Nam eu elementum ligula, vitae porta leo. Quisque
      egestas urna quis est pellentesque, quis egestas ex lobortis. In hac
      habitasse platea dictumst. Sed odio massa, cursus eget ex eu, dictum
      gravida elit. Cras accumsan sodales augue id convallis. Nullam id porta
      erat. Duis eget varius quam, non venenatis sem.
    </div>
  </div>
</section>
